

.logo {
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 28px;
  line-height: 1;
  /* line-height: 115%; */
  margin:0px;
  color:#2A4D4C;
}
.logo span {
  font-size: 20px;
}
.navigation .nav-items { margin: 0px; padding: 0px;}
.navigation .nav-items .nav-item {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  list-style: none;
  /* text-transform: uppercase; */
  text-transform: lowercase;
  margin-bottom: 16px;
  /* a {
    
  } */
}
.navigation .nav-items .nav-item a {
  color: #2A4D4C;
}
.navigation .nav-items .nav-item.active a {
  color: rgba(199, 56, 46, .80);
}

@media (min-width: 992px) {
  .logo {
  /* font-size: 40px; */
  }
  .navigation .nav-items {
    display:flex;
    grid-gap: 16px;
  }
  .navigation .nav-items .nav-item a {
    font-size: 20px;
    /* font-style: italic; */
    text-decoration: underline;
    font-weight: normal;
    text-decoration-style: wavy;
    text-underline-offset: 12px;
    text-decoration-line: underline;
    line-height: 52px;
    display: flex;
  }
}