.separator {
  margin: 4rem auto;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator span {
  height: 6px;
  width: 4px;
  position: relative;
  background: var(--secondary-black);
  border-radius: 2px;
  display: block;
}

.separator span:after, .separator span:before {
  content: "";
  position:absolute;
  display: block;
  right: 10px;
  bottom: 0px;
  height: 10px;
  background: var(--secondary-black);
  width: 4px;
  border-radius: 2px;
}

.separator span:after {
  height: 8px;
  right: auto;
  left: 10px;
}

@media (min-width: 992px) {
  .separator {
    margin: 8rem auto;
  }
}