.section {
  width: 100%;
}

.section .section-header .section-heading {
  font-weight: normal;
  font-size: 20px;
  line-height: 70%;
  font-family: var(--heading);
  z-index: 1;
  position: relative;
}

.section .section-header .underline {
  margin-top: -32px;
  display: block;
  z-index: 0;
  position: relative;
}

@media (min-width: 992px) {
  .section .section-header .section-heading {
    font-size: 32px;
    font-weight: 300;
  }
}