.section {
  width: 100%;
}

.section .section-header .section-heading {
  font-weight: normal;
  font-size: 28px;
  line-height: 70%;
  font-family: var(--heading);
  z-index: 1;
  position: relative;
  width: max-content;
  color: var(--primary-brand);
}

.section .section-header .underline {
  margin-top: -32px;
  display: block;
  z-index: 0;
  position: relative;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}
.section .section-header.active .underline {
  animation: dash 3s linear forwards;
}


@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@media (min-width: 992px) {
  .section .section-header .section-heading {
    font-size: 48px;
    font-weight: 300;
  }
  .section .section-header .underline {
    margin-top: -44px;
  }
}