.section {
  width: 100%;
}

.section .section-header .section-heading {
  font-weight: normal;
  font-size: 20px;
  line-height: 70%;
  font-family: var(--heading);
  z-index: 1;
  position: relative;
}

.section .section-header .underline {
  transform: translateY(-26px);
  z-index: 0;
  position: relative;
}