.pill {
  border-radius: 20px;
  font-family: 'Merriweather', serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
  margin: 4px;
  display: flex;
  padding: 4px 12px;
}

.pill.red {
  background: rgba(199, 56, 46, 0.1);
  color: #C7382E;
}

.pill.green {
  background: rgba(44, 149, 98, 0.1);
  color: #2C9562;
}

.pill.blue {
  background: rgba(26, 72, 189, 0.1);
  color: #1A48BD;
}