:root {
  --heading: 'Merriweather', serif;
  --primary-black:  #121212;
  --secondary-black: #353535;
  --verySmallMob: "(max-width: 399px)";
  --mobile: "(min-width: 400px) and (max-width: 767px)";
  --tablet: "(min-width: 768px) and (max-width: 991px)";
  --desktop: "(min-width: 992px) and (max-width: 1199px)";
  --largeDesktop: "(min-width: 1200px)";
  --insaneScreen: "(min-width: 1600px)";
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--primary-black);
  font-family: 'Open Sans';
  background: #FFFCF9;
  font-size:62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.footer {
  width: 100%;
  height: 40px;
  margin-top: 4rem;
  /* position: absolute; */
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  /* bottom: 0px;
  left:0px; */
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* User defined styles */

a,p,span,li,ul,ol,div,input,button,form,fieldset,textarea,label,legend,select,optgroup,option {
  font-size: 1.6rem;
}

.page-heading {
  font-family: var(--heading);
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
}

.page-heading-subtext {
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
}

.heading-font {
  font-family: 'Merriweather', serif;
}

.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.outer-wrapper {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.page {
  flex: 1;
  /* margin-top: -3rem; */
}

@media (min-width: 992px) {
  .outer-wrapper{
    background: repeating-linear-gradient(90deg, rgb(75 49 19 / 42%), transparent 1px calc(100vw / 6));
  }
}