.main-header {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2rem;
}
.recruiter-message span, .recruiter-message span a {
  font-size: 20px;
}
.recruiter-message:after {
  content: '';

}
.inner-page {
  padding: 20px;
}
@media (min-width: 992px) {
  .main-header {
    margin-bottom: 80px;
    align-items: center;
  }  
}