.main-header {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2rem;
}

.inner-page {
  padding: 20px;
  /* margin-bottom: 24px; */
}
@media (min-width: 992px) {
  .main-header {
    margin-bottom: 80px;
    align-items: center;
  }  
}