.profile-page {
  display: grid;
}

.text-area {
  margin-top: 40px;
}

.avatar {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width:465px;
  max-height: 300px;
  margin-top: 28px;
  border-radius: 8px;
}
.avatar img {
  transform: translate(0px, -64px);
}

.type-of-description {
  display: flex;
  justify-content: flex-start;
}
.description {
  color: var(--secondary-black);
  line-height: 150%;
}
.contact a {
  text-decoration: underline;
}
.contact .contact-subheading {
  font-family: var(--heading);
  color: var(--primary-brand);
}

.social {
  display: flex;
  grid-gap: 16px;
}
.social img {
  font-style: #2E3A59;
}
@media (min-width: 992px) {
  .profile-page {
    grid-template-columns: 45% 55%;
  }
  .image-area {
    order: 1;
  }
  .avatar {
    transform: translatex(100px);
    max-height: initial;
    margin-top: 0px;
  }
  .avatar img {
    transform: translateY(-64px);
  }
  .description {
    font-size: 20px;
    line-height: initial;
  }
  .contact p, .contact p a {
    font-size: 20px;
  }
}